$switch-width: 50px;
$switch-height: 24px;
$switch-padding: 2px;
$switch-bg-color: #ccc;
$switch-thumb-color: #fff;
$switch-thumb-size: $switch-height - $switch-padding * 2;
$switch-thumb-transition: transform 0.2s ease-in-out;

.switch {
  position: relative;
  width: $switch-width;
  height: $switch-height;
  padding: $switch-padding;
  background-color: $switch-bg-color;
  border-radius: $switch-height / 2;
  cursor: pointer;

  &[data-checked="true"] {
    background-color: #222;
    &[aria-label="Toggle light/dark mode"] {
      .switch-thumb {
        transform: translateX(
          $switch-width - $switch-thumb-size - $switch-padding * 2
        );
      }
    }
  }

  &[data-checked="false"] {
    background-color: $switch-bg-color;
    &[aria-label="Toggle light/dark mode"] {
      .switch-thumb {
        transform: translateX(0);
      }
    }
  }

  .switch-thumb {
    position: absolute;
    top: $switch-padding;
    left: $switch-padding;
    width: $switch-thumb-size;
    height: $switch-thumb-size;
    background-color: $switch-thumb-color;
    border-radius: $switch-thumb-size / 2;
    transition: $switch-thumb-transition;
  }
}
