.modal-backdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.modal-content-wrapper {
    position: fixed;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 60px;
    z-index: 5;
}

.modal-content {
    margin: 0 18px;
}