$transitionTime: "1" ".5", "2" ".7", "3" "1", "4" "1.2", "5" "1.5";

.bg--popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  display: none;
  z-index: 7;

  &.active {
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    display: block;
    background: rgba(0, 0, 0, 0.6);
  }
}

.popupMessage {
  transform: translateX(150vw);
  transition: all 0.55s;
  opacity: 0;
  z-index: 7;

  &.transform {
    transform: translateX(0);
    opacity: 1;
    top: "50px";
  }

  &-link {
    display: flex;
    justify-content: end;
    font-size: 24px;
    margin-bottom: 46px;
    font-weight: 600;

    &.active {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.15);
      padding: 20px;
    }
  }
}
