$transitionTime: (
  "1": 0.5s,
  "2": 0.7s,
  "3": 1s,
  "4": 1.2s,
  "5": 1.5s
);

// Анимация для появления модального окна сверху
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg--popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none; // По умолчанию скрыто
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);

  // Центрируем содержимое по вертикали и горизонтали
  display: flex;
  justify-content: center;
  align-items: center;

  // Отступ сверху для дополнительного пространства
  padding-top: 100px;

  &.active {
    display: flex; // Показываем, если активен
  }
}

.popupMessage {
  opacity: 0; // Начальное значение прозрачности
  transform: translateY(-100%); // Начальное положение за экраном сверху
  transition: all 0.55s ease; // Плавный переход для всех свойств
  animation: slideDown 0.55s ease forwards; // Анимация появления сверху

  &.transform {
    opacity: 1;
    transform: translateY(0); // Возвращаем в исходное положение
  }

  // Стиль для ссылки внутри сообщения
  &-link {
    display: flex;
    justify-content: flex-end; // Ставим текст справа
    font-size: 24px;
    margin-bottom: 46px;
    font-weight: 600;

    &.active {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.15);
      padding: 20px;
    }
  }

  // Стили для placeholder
  .input-guest::placeholder {
    color: #fff;
  }
}
