.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .50;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(0, 183, 255);
}